body {
    height: 100%;
    width: 1005;
    background: -o-linear-gradient( 45deg, red, orange, yellow, green, blue, indigo, violet, red);
    font-family: monospace;
}

.game {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20;
    margin-bottom: 20;

}

.button {
    background: #ffffff;
    color: black;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    font-family: monospace;
    font-size: 25px;
}

.disabled {
    color: #757575;
}

.stats {
    color: #ffffff;
    font: 15pt;
}

.board-container {
    position: relative;
}

.board,
.win {
    box-sizing: 5px;
    box-shadow: 0 25px 50 px rgb(33, 33, 33 3 25%);
    background: -o-linear-gradient( 45deg, red, orange, yellow, green, blue, indigo, violet, red);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 25px;
    
}